body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.primary-color {
  color: #F9A800;
}

.secondary-color {
  color: #3F681A;
}

.container {
  height: 250px;
  overflow: hidden;
  position: relative;
}

.scrollable-content {
  max-width: 100%;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}


/* Estilos específicos para ocultar a barra de rolagem no Chrome */
.scrollable-content::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.video-style {
  max-width: 100%;
  height: auto;
  margin-top: -10px;
  opacity: 1;
}

@media (max-width: 768px) {
  .video-style {
    max-width: 100%;
    height: auto;
    margin-top: -10px;
    opacity: 1;
  }
}

.video-style video {
  opacity: 0.9;
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
  color: white;
  opacity: 1;
}

.custom-primary-button {
  background-color: #fff;
  /* Cor primária */
  border-color: #F9A800;
  /* Cor da borda primária */
  width: 40px;
  /* Largura maior */
  height: 40px;
  /* Altura maior */
  margin-left: 10px;
  /* Espaço à esquerda */
  transition: background-color 0.3s, border-color 0.3s;
  /* Transição de cor */

  /* Estilos ao passar o mouse por cima */
  &:hover {
    background-color: #3F681A;
    /* Cor secundária ao passar o mouse */
    border-color: #3F681A;
    /* Cor da borda secundária ao passar o mouse */
  }
}

.custom-icon {
  color: #F9A800;
  /* Cor primária do ícone */
  font-size: 50px;
  /* Tamanho maior do ícone */
  margin-left: 10px;
  /* Espaço à esquerda */
  transition: color 0.3s;
  /* Transição de cor */

  /* Estilos ao passar o mouse por cima */
  &:hover {
    color: #3F681A;
    /* Cor secundária ao passar o mouse */
  }
}

footer {
  background-color: #3F681A;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 70%;
  margin: 0 auto;
}

.footer-column {
  flex: 1;
  padding: 10px;
  border-right: 1px solid #ccc;
  text-align: center;
  box-sizing: border-box;
}

.footer-column:last-child {
  border-right: none;
}

.second-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.social-icons a {
  color: #fff;
  font-size: 24px;
  margin-right: 20px;
  text-decoration: none;
}

.logo {
  flex-grow: 1;
  text-align: right;
}

.logo-img {
  width: 150px;
  height: 40px;
}

.social-icons a:hover {
  color: #F9A800;
}

.side-bar {
  opacity: 0.9;
  padding: 20px 0;
}

@keyframes colorChange {
  0% {
    background-color: #F9A800;
  }

  50% {
    background-color: #FFD700;
  }

  100% {
    background-color: #F9A800;
  }
}

.custom-list-item {
  list-style-type: none;
  padding: 5px;
  border-radius: 10px;
  overflow: hidden;
}

.custom-list-item:hover {
  background-color: #F9A800;
  animation: colorChange 2s infinite;
}

.custom-link {
  color: #3F681A !important;
  font-size: 20px !important;
  font-weight: bold !important;
}

.custom-link:hover {
  color: #FFD700;
}

.hexagon-container {
  position: relative;
  display: inline-block;
  margin: 10px;
  /* Ajuste conforme necessário */
}

.content-container {
  max-width: 70%;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
}

@media (max-width: 768px) {
  .content-container {
    max-width: 100%;
    margin: 0 auto;
  }
}

.homep-first-div-title {
  font-weight: bold;
  font-size: 35px;
  text-align: center;
  margin-bottom: 30px;
}

.homep-first-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  padding-top: 70px;
}

.homep-first-div-img {
  flex: 1;
  text-align: left;
}

.homep-first-div-img img {
  max-width: 90%;
  height: auto;
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}

.homep-first-div-text {
  flex: 0.8;
  padding: 0 0 20px 35px;
}

.homep-first-div-text p {
  text-align: justify;
  font-size: 15px;
}

.title-homep-servicos {
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  margin-top: 150px;
  margin-bottom: 50px;
}

.col {
  margin-bottom: 20px;
  /* Espaço entre as colunas (10px de cada lado) */
}

.card-homep-contactos {
  text-align: center;
  width: 450px;
  min-height: 300px;
  margin: 30px;
  display: inline-block;
}

.card-body-homep-contactos {
  background-color: rgba(249, 168, 0, 0.4);
  border-radius: 5px;
}

.card-body-homep-contactos-text {
  padding-top: 20px;
}

.card-body-homep-contactos:hover {
  background-color: rgba(249, 168, 0, 0.9);
  border-radius: 5px;
  transform: scale(1.10);
  transition: transform 0.7s ease;
}

@media (max-width: 768px) {
  .card-homep-contactos {
    max-width: none;
    margin: 10px 0;
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .card-large {
    width: 600px;
  }
}

.card-highlight:hover {
  transform: scale(1.05);
  transition: transform 0.7s ease;
  border: 3px solid #3F681A;
}

.text-overlay-contactos {
  position: absolute;
  top: 65%;
  left: 65%;
  z-index: 1;
  text-align: center;
  opacity: 1;
}

.text-overlay-contactos h1 {
  opacity: 1;
  font-size: 50px;
  font-weight: 700;
}

.card-contactos {
  margin: 30px;
  width: 80%;
}

.card-contactos-header {
  text-align: center;
  font-size: x-large;
  font-weight: 600;
}

.card-contactos p {
  margin-bottom: 5px;
}

/* SERVIÇOS */

.servicos-title {
  font-weight: 600;
  font-size: 48px;
}

.servicos-row {
  display: flex;
  margin-bottom: 50px;
  text-align: center;
  padding-top: 30px;
}

.servicos-col {
  display: flex;
}

.card-image {
  width: 300px;
  height: 450px;
  margin: -40px;
}

.servicos-modal {
  max-width: 80vw !important;
}

.modal {
  background: rgba(0, 0, 0, 0.8);
}

.modal-title {
  margin-top: 30px;
}

.modal-text {
  margin-top: 50px;
  text-align: justify;
}

.modal-foter {
  margin-top: 50px;
  align-items: center;
  text-align: center;
  font-size: 25px;
  font-weight: 500;
}

.modal-button {
  font-size: 25px;
}

.sobre-nos-text {
  text-align: justify;
  font-size: 17px;
}

.sobre-nos-title {
  font-weight: 600;
  font-size: 48px;
  padding-top: 30px;
  padding-bottom: 40px;
}

.container-cert {
  display: flex;
  align-items: center;
}

.imagem-cert {
  flex: 0.8;
  /* A imagem ocupará 1/2 do espaço disponível */
  text-align: right;
}

.imagem-cert img {
  max-width: 100%;
}

.texto-cert {
  flex: 1.2;
  /* O texto ocupará 1/2 do espaço disponível */
  padding: 0 0 0 50px;
}

.texto-cert p {
  text-align: justify;
}

.container-aniv {
  display: flex;
  align-items: center;
}

.imagem-aniv {
  flex: 1;
  /* A imagem ocupará 1/2 do espaço disponível */
  text-align: right;
}

.imagem-aniv img {
  max-width: 100%;
  clip-path: polygon(0 65%, 15% 95%, 84% 95%, 100% 45%, 86% 9%, 15% 9%);
}

.texto-aniv {
  flex: 1.2;
  /* O texto ocupará 1/2 do espaço disponível */
  padding: 0 50px 0 0;
}

.texto-aniv p {
  text-align: justify;
  font-size: 15px;
}